In [1]:
i = 1
while i <= 20:
    if i % 2 == 0:
        i += 1
        continue
    print(i, end=" ")
    i += 1

1 3 5 7 9 11 13 15 17 19

In [2]:
while True:
    num = int(input("Enter a number (negative to stop): "))
    if num < 0:
        print("Negative number entered. Loop stopped!")
        break
    else:
        print("You entered:", num)

Enter a number (negative to stop):  -5

Negative number entered. Loop stopped!

In [3]:
secret = "python"

while True:
    word = input("Guess the word: ")
    if word == secret:
        print("ðŸŽ‰ You guessed it!")
        break

Guess the word:  inquiry
Guess the word:  secret
Guess the word:  break
Guess the word:  python

ðŸŽ‰ You guessed it!

In [4]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

i = 0
while i < len(orders):
    order = orders[i]
    print("Order ID:", order["order_id"], "Customer:", order["customer"])
    
    j = 0
    while j < len(order["items"]):
        print("Item Price:", order["items"][j])
        j += 1
    i += 1

Order ID: 1 Customer: Ali
Item Price: 120
Item Price: 80
Item Price: 50
Order ID: 2 Customer: Sara
Item Price: 200
Item Price: 150
Order ID: 3 Customer: Raheel
Item Price: 90
Item Price: 60
Item Price: 40
Item Price: 30
Order ID: 4 Customer: Naveed
Item Price: 300

In [5]:
i = 0
while i < len(orders):
    order = orders[i]
    total = 0
    
    j = 0
    while j < len(order["items"]):
        total += order["items"][j]
        j += 1
    
    print(order["customer"], "spent total:", total)
    i += 1

Ali spent total: 250
Sara spent total: 350
Raheel spent total: 220
Naveed spent total: 300

In [6]:
i = 0
while i < len(orders):
    order = orders[i]
    max_price = order["items"][0]
    
    j = 1
    while j < len(order["items"]):
        if order["items"][j] > max_price:
            max_price = order["items"][j]
        j += 1
    
    print("Most expensive item in Order", order["order_id"], "=", max_price)
    i += 1

Most expensive item in Order 1 = 120
Most expensive item in Order 2 = 200
Most expensive item in Order 3 = 90
Most expensive item in Order 4 = 300

In [7]:
nums = [n for n in range(1, 51) if n % 10 == 0]
print("Multiples of 5 and 10 from 1 to 50:", nums)

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

In [8]:
employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

qualified = [e["name"] for e in employees if e["salary"] > 60000 and e["experience"] > 5]
print(qualified)

['Naveed', 'Ayesha', 'Sana']

In [9]:
not_hr = [e["name"] for e in employees if e["dept"] != "HR"]
print(not_hr)

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

In [10]:
result = [e["name"] for e in employees if e["dept"] != "Sales" or e["experience"] > 5]
print(result)

['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']